<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
							<binding name="basicHttp" allowCookies="true"
 maxReceivedMessageSize="20000000"
 maxBufferSize="20000000"
 maxBufferPoolSize="20000000">
								<readerQuotas maxDepth="32"
		maxArrayLength="200000000"
		maxStringContentLength="200000000"/>
							</binding>
                <binding name="NotificationApi" />
                <binding name="AddressBookApi" />
                <binding name="AuthenticateApi" />
                <binding name="ProfileApi" />
                <binding name="TransportApi" />
                <binding name="CertificateApi" />
                <binding name="DictionaryApi" />
                <binding name="PrivateApi" />
                <binding name="TranscryptIdService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.130.149/tcapi-rc/TranscryptApi.svc"
                binding="basicHttpBinding" bindingConfiguration="NotificationApi"
                contract="TranscryptApiService.ITranscryptApiNotification"
                name="NotificationApi" />
            <endpoint address="http://192.168.130.149/tcapi-rc/TranscryptApi.svc"
                binding="basicHttpBinding" bindingConfiguration="AddressBookApi"
                contract="TranscryptApiService.ITranscryptApiAddressBook"
                name="AddressBookApi" />
            <endpoint address="http://192.168.130.149/tcapi-rc/TranscryptApi.svc"
                binding="basicHttpBinding" bindingConfiguration="AuthenticateApi"
                contract="TranscryptApiService.ITranscryptApiAuth" name="AuthenticateApi" />
            <endpoint address="http://192.168.130.149/tcapi-rc/TranscryptApi.svc"
                binding="basicHttpBinding" bindingConfiguration="ProfileApi"
                contract="TranscryptApiService.ITranscryptApiProfile" name="ProfileApi" />
            <endpoint address="http://192.168.130.149/tcapi-rc/TranscryptApi.svc"
                binding="basicHttpBinding" bindingConfiguration="TransportApi"
                contract="TranscryptApiService.ITranscryptApiTransport" name="TransportApi" />
            <endpoint address="http://192.168.130.149/tcapi-rc/TranscryptApi.svc"
                binding="basicHttpBinding" bindingConfiguration="CertificateApi"
                contract="TranscryptApiService.ITranscryptApiCertificate"
                name="CertificateApi" />
            <endpoint address="http://192.168.130.149/tcapi-rc/TranscryptApi.svc"
                binding="basicHttpBinding" bindingConfiguration="DictionaryApi"
                contract="TranscryptApiService.ITranscryptApiDictionary" name="DictionaryApi" />
            <endpoint address="http://192.168.130.149/tcapi-rc/TranscryptApi.svc"
                binding="basicHttpBinding" bindingConfiguration="PrivateApi"
                contract="TranscryptApiService.ITranscryptApiPrivate" name="PrivateApi" />
            <endpoint address="http://192.168.130.149/tcapi-rc/TranscryptApi.svc"
                binding="basicHttpBinding" bindingConfiguration="TranscryptIdService"
                contract="TranscryptApiService.ITranscryptIdService" name="TranscryptIdService" />
        </client>
    </system.serviceModel>
</configuration>